@font-face {
    font-family: "Raleway-Thin";
    src: url("../fonts/Raleway-Thin.eot"), url("../fonts/Raleway-Thin.svg") format("svg"), url("../fonts/Raleway-Thin.ttf") format("ttf"), url("../fonts/Raleway-Thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway-Light.eot"), url("../fonts/Raleway-Light.svg") format("svg"), url("../fonts/Raleway-Light.ttf") format("ttf"), url("../fonts/Raleway-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.eot"), url("../fonts/Raleway-Regular.svg") format("svg"), url("../fonts/Raleway-Regular.ttf") format("ttf"), url("../fonts/Raleway-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.eot"), url("../fonts/Raleway-Bold.svg") format("svg"), url("../fonts/Raleway-Bold.ttf") format("ttf"), url("../fonts/Raleway-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url("../fonts/PlayfairDisplay-Bold.eot"), url("../fonts/PlayfairDisplay-Bold.svg") format("svg"), url("../fonts/PlayfairDisplay-Bold.ttf") format("ttf"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("../fonts/PlayfairDisplay-Regular.eot"), url("../fonts/PlayfairDisplay-Regular.svg") format("svg"), url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya-Regular";
    src: url("../fonts/Alegreya-Regular.eot"), url("../fonts/Alegreya-Regular.svg") format("svg"), url("../fonts/Alegreya-Regular.ttf") format("ttf"), url("../fonts/Alegreya-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya-Bold";
    src: url("../fonts/Alegreya-Bold.eot"), url("../fonts/Alegreya-Bold.svg") format("svg"), url("../fonts/Alegreya-Bold.ttf") format("ttf"), url("../fonts/Alegreya-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Scriptina";
    src: url("../fonts/Scriptina.eot"), url("../fonts/Scriptina.svg") format("svg"), url("../fonts/Scriptina.ttf") format("ttf"), url("../fonts/Scriptina.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}