html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.clear {
  clear: both; }

@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway-Thin.eot"), url("../fonts/Raleway-Thin.svg") format("svg"), url("../fonts/Raleway-Thin.ttf") format("ttf"), url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.eot"), url("../fonts/Raleway-Light.svg") format("svg"), url("../fonts/Raleway-Light.ttf") format("ttf"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot"), url("../fonts/Raleway-Regular.svg") format("svg"), url("../fonts/Raleway-Regular.ttf") format("ttf"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.eot"), url("../fonts/Raleway-Bold.svg") format("svg"), url("../fonts/Raleway-Bold.ttf") format("ttf"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot"), url("../fonts/PlayfairDisplay-Bold.svg") format("svg"), url("../fonts/PlayfairDisplay-Bold.ttf") format("ttf"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.eot"), url("../fonts/PlayfairDisplay-Regular.svg") format("svg"), url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Alegreya-Regular";
  src: url("../fonts/Alegreya-Regular.eot"), url("../fonts/Alegreya-Regular.svg") format("svg"), url("../fonts/Alegreya-Regular.ttf") format("ttf"), url("../fonts/Alegreya-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Alegreya-Bold";
  src: url("../fonts/Alegreya-Bold.eot"), url("../fonts/Alegreya-Bold.svg") format("svg"), url("../fonts/Alegreya-Bold.ttf") format("ttf"), url("../fonts/Alegreya-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Scriptina";
  src: url("../fonts/Scriptina.eot"), url("../fonts/Scriptina.svg") format("svg"), url("../fonts/Scriptina.ttf") format("ttf"), url("../fonts/Scriptina.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.clear {
  clear: both; }

a:hover {
  text-decoration: none; }

.row {
  margin: 0; }

.navbar-container {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  .navbar-container .navbar {
    background-color: transparent;
    border: none;
    margin: 0; }

.navbar-default .navbar-brand {
  font-family: "Scriptina";
  font-size: 30px;
  padding: 20px 70px 30px 0;
  color: white; }
  .navbar-default .navbar-brand:hover {
    color: white;
    font-weight: bold; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: "Alegreya-Regular";
  font-size: 16px;
  padding: 25px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative; }

.navbar-left > li > a:after {
  position: absolute;
  content: "~";
  right: 0;
  font-weight: normal; }

.navbar-left > li:last-child > a:after {
  content: ''; }

.navbar-default .navbar-right > li > a {
  padding: 25px 10px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
  color: white;
  font-weight: bold;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a:visited {
  color: white; }

.intro {
  background-image: url(../img/cover-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }
  .intro .intro-text {
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 70px; }
    .intro .intro-text h1 {
      font-size: 86px;
      font-family: "PlayfairDisplay-Bold";
      text-shadow: 0 1px 0 black, 0 40px 40px black, 0 -10px 40px black; }
    .intro .intro-text p {
      margin: 70px auto;
      font-family: "Railway-Regular";
      font-size: 30px;
      width: 50%;
      text-shadow: 0 1px 0 black, 0 40px 40px black, 0 -10px 40px black; }
    .intro .intro-text .intro-button {
      border: 2px dashed gray;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.4);
      font-family: "Alegreya-Bold";
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      padding: 10px 40px; }
  .intro .medallon {
    position: absolute;
    height: 108px;
    width: 108px;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -54px;
    bottom: -54px;
    background-image: url(../img/medalon-little-border.png); }
  .intro .bread-medalon {
    position: absolute;
    height: 80px;
    width: 80px;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -40px;
    bottom: -40px;
    background-image: url(../img/bread-medalon.png); }

.art-of-cakes {
  padding: 90px 0;
  text-align: center; }

.chef-cook-container {
  padding: 0 70px; }
  .chef-cook-container h2 {
    font-family: "Alegreya-Bold";
    font-size: 50px; }
  .chef-cook-container h3 {
    color: #a47d5e;
    text-transform: uppercase;
    font-family: "Alegreya-Bold";
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0 60px 0; }
  .chef-cook-container .art-describe {
    font-family: "Raleway-Bold";
    line-height: 2;
    letter-spacing: 2px; }
  .chef-cook-container .chef-cook {
    margin: 35px 0;
    font-family: "Alegreya-Bold";
    font-size: 26px; }

.tastes-container {
  padding: 0; }

.chef-cook-data {
  position: relative;
  padding: 20px 50px 0; }
  .chef-cook-data #left,
  .chef-cook-data #right {
    display: block;
    width: 50%;
    float: left;
    border-width: 1px 0;
    border-style: solid;
    border-color: gray;
    line-height: 40px;
    font-family: "Alegreya-Regular";
    font-size: 26px; }
  .chef-cook-data #left {
    text-align: left;
    padding-left: 15px; }
  .chef-cook-data #right {
    text-align: right;
    padding-right: 15px; }
  .chef-cook-data .chef-cook-image {
    width: 30%;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 35%;
    margin-top: -10px; }

.handwriting {
  margin-top: 70px;
  font-family: "Scriptina";
  color: #a47d5e;
  font-size: 28px;
  position: relative; }
  .handwriting .left-quote {
    position: absolute;
    top: -14; }
  .handwriting .right-quote {
    position: absolute;
    right: 0; }
  .handwriting .fa {
    font-size: 20px;
    color: gray; }

.images-container {
  position: relative;
  margin-top: 50px; }
  .images-container .image-container {
    padding: 10px;
    width: 50%;
    float: left;
    position: relative; }
    .images-container .image-container:before {
      position: absolute;
      width: 86%;
      height: 84%;
      top: 8%;
      left: 7%;
      border: 5px solid white;
      content: ''; }
  .images-container .medalon-tastes {
    position: absolute;
    height: 240px;
    width: 240px;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -120px;
    bottom: -120px;
    top: 50%;
    height: 230px;
    margin-top: -115px;
    background-image: url(../img/medalon-1.png); }
  .images-container .tastes-so-good {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -51px;
    font-family: "Alegreya-Regular";
    text-transform: uppercase;
    font-size: 36px;
    color: #b6977f; }

.tasty-pancakes {
  background-image: url("../img/tasty-pancakes-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0; }

.pancake-container {
  position: relative; }

.pancake-image {
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.pancake-text {
  position: relative;
  background-color: white;
  padding: 80px 50px 30px;
  background-image: url(../img/windmill-bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 50%; }
  .pancake-text h2 {
    font-family: "Alegreya-Bold";
    font-size: 50px; }
  .pancake-text h3 {
    color: #a47d5e;
    text-transform: uppercase;
    font-family: "Alegreya-Bold";
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0 60px 0; }
  .pancake-text p {
    font-family: "Raleway-Bold";
    line-height: 2;
    letter-spacing: 2px; }
  .pancake-text .slider-container {
    position: relative; }
    .pancake-text .slider-container #left-arrow-slider,
    .pancake-text .slider-container #right-arrow-slider {
      position: absolute;
      width: 15%;
      text-align: center;
      top: 50%;
      margin-top: -21px; }
    .pancake-text .slider-container #right-arrow-slider {
      right: 0; }
  .pancake-text .slider-container .owl-carousel {
    width: 70%;
    margin: 70px auto 0; }

.pancake-time-container {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 16.67%;
  margin-right: -100px;
  top: -40px;
  background-image: url(../img/ready-in-40-bg.png);
  z-index: 200;
  box-shadow: 0 0 20px gray;
  text-align: center;
  font-family: "Alegreya-Bold"; }
  .pancake-time-container .ready-in {
    text-transform: uppercase;
    color: #a47d5e;
    font-size: 22px;
    margin-top: 25px; }
  .pancake-time-container .number {
    font-size: 86px;
    color: #dfc691;
    line-height: 90px; }
  .pancake-time-container .min {
    color: #9d988c;
    font-size: 20px; }

.breakfast {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/breakfast-bg.jpg);
  text-align: center;
  padding: 90px 0; }

.breakfast-price h2 {
  font-family: "Alegreya-Bold";
  font-size: 50px;
  color: white; }

.breakfast-price h3 {
  color: #a47d5e;
  text-transform: uppercase;
  font-family: "Alegreya-Bold";
  font-size: 15px;
  letter-spacing: 1px;
  margin: 10px 0 60px 0; }

.breakfast-price .breakfast-item .breakfast-name {
  font-family: "Alegreya-Bold";
  font-size: 32px;
  color: white;
  margin-top: 30px; }

.breakfast-price .breakfast-item .breakfast-description {
  font-family: "Raleway-Regular";
  font-size: 16px;
  color: #c2beba;
  margin-bottom: 10px; }

.breakfast-price .breakfast-item .breakfast-price {
  font-family: "Alegreya-Regular";
  font-size: 34px;
  color: #dfc691; }

.breakfast-message {
  padding-left: 120px; }
  .breakfast-message .breakfast-book-image {
    position: relative; }
  .breakfast-message .breakfast-menu-text {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 8%;
    top: 30%;
    padding: 0 30px; }
    .breakfast-message .breakfast-menu-text h3 {
      font-family: "Alegreya-Bold";
      font-size: 40px; }
    .breakfast-message .breakfast-menu-text p {
      font-family: "Raleway-Bold";
      margin: 45px 0 50px;
      line-height: 2; }
    .breakfast-message .breakfast-menu-text a {
      font-family: "Alegreya-Bold";
      font-size: 20px;
      text-transform: uppercase;
      color: #a47d5e;
      padding: 5px 40px;
      border: 1px solid gray; }

.jibarito-sandwich {
  background-color: #f3f1e9;
  background-image: url(../img/jabarito-sandwich-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center; }
  .jibarito-sandwich h2 {
    font-family: "Alegreya-Bold";
    font-size: 50px; }
  .jibarito-sandwich h3 {
    color: #a47d5e;
    text-transform: uppercase;
    font-family: "Alegreya-Bold";
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 0 60px 0;
    margin-bottom: 0; }

.ingredient-item h4 {
  font-family: "Alegreya-Bold";
  font-size: 30px;
  margin: 20px 0;
  color: #a47d5e; }

.ingredient-item p {
  font-family: "Raleway-Regular";
  margin-bottom: 55px; }

.recipe {
  padding: 100px 0 0 10%; }
  .recipe .recipe-image-container {
    position: relative; }
    .recipe .recipe-image-container .full-recipe {
      position: absolute;
      bottom: -3.6%;
      left: -20px;
      font-family: "Alegreya-Bold";
      font-size: 18px;
      text-transform: uppercase;
      background-color: white;
      padding: 15px 30px;
      color: #dfc691;
      border: 1px dashed #dfc691; }
    .recipe .recipe-image-container .prepare-time {
      position: absolute;
      width: 200px;
      height: 107.2%;
      bottom: -3.6%;
      right: 7px; }
      .recipe .recipe-image-container .prepare-time .prepare-time-item {
        font-family: "Alegreya-Bold";
        height: 33%;
        background-color: rgba(255, 255, 255, 0.8); }
        .recipe .recipe-image-container .prepare-time .prepare-time-item .preparation {
          text-transform: uppercase;
          color: #a47d5e;
          font-size: 22px;
          margin-top: 25px;
          margin-top: 0;
          padding-top: 15px; }
        .recipe .recipe-image-container .prepare-time .prepare-time-item .number {
          font-size: 86px;
          color: #dfc691;
          line-height: 90px; }
        .recipe .recipe-image-container .prepare-time .prepare-time-item .min {
          color: #9d988c;
          font-size: 20px; }
      .recipe .recipe-image-container .prepare-time .prepare-time-item.middle {
        margin-top: 1%; }
      .recipe .recipe-image-container .prepare-time .prepare-time-item.last {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/ready-in-50-bg.png); }
      .recipe .recipe-image-container .prepare-time .prepare-time-item.first .number,
      .recipe .recipe-image-container .prepare-time .prepare-time-item.middle .number {
        color: #56534c;
        font-size: 60px; }

.navbar-down-container {
  padding: 60px 0 70px 0; }
  .navbar-down-container .navbar-down ul {
    border-width: 1px 0;
    border-color: #bfbbb7;
    border-style: solid;
    padding: 0; }
    .navbar-down-container .navbar-down ul li {
      display: inline-block;
      width: 13.28%;
      position: relative; }
      .navbar-down-container .navbar-down ul li:not(:last-child):after {
        position: absolute;
        content: "~";
        right: 0;
        font-weight: normal;
        top: 50%;
        right: -4px;
        margin-top: -10px; }
      .navbar-down-container .navbar-down ul li a {
        color: white;
        font-family: "Alegreya-Regular";
        font-size: 16px;
        padding: 25px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        padding: 25px 0;
        display: inline-block;
        color: #56534c; }
        .navbar-down-container .navbar-down ul li a:hover {
          font-weight: bold; }
    .navbar-down-container .navbar-down ul .brand a {
      display: block;
      position: relative;
      font-family: "Scriptina";
      padding: 15px 0;
      font-size: 18px; }
      .navbar-down-container .navbar-down ul .brand a:before {
        position: absolute;
        border: 10px solid #f3f1e9;
        width: 110%;
        height: 150%;
        z-index: 100;
        left: -5%;
        top: -25%;
        content: ''; }

@media (max-width: 1199px) {
  .navbar-default .navbar-brand {
    padding-right: 50px; }
  .navbar-default .navbar-nav > li > a {
    padding: 25px 15px; }
  .intro .intro-text h1 {
    font-size: 74px; }
  .images-container {
    margin-top: 80px; }
  .chef-cook-data {
    padding: 20px 0 0; }
  .breakfast-message {
    padding-left: 15px; }
  .recipe {
    padding-top: 140px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .number {
    line-height: 50px; }
  .navbar-down-container {
    padding: 0 0 70px 0; } }

@media (max-width: 991px) {
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0; }
  .navbar-header {
    float: none; }
  .navbar-left,
  .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block;
    margin: 18px 0;
    border-color: white; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none;
    text-align: center; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important;
    background-color: white;
    z-index: 500;
    position: relative; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); }
  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    color: #56534c;
    background-color: transparent;
    border-bottom: 1px dashed #56534c;
    font-size: 30px; }
  .navbar-left > li > a:after {
    content: ''; }
  .intro .intro-text h1 {
    font-size: 70px; }
  .tasty-pancakes {
    padding: 100px 0; }
  .tastes-container .image-container img {
    width: 100%; }
  .tastes-container {
    padding: 0 50px; }
  .pancake-image,
  .pancake-text {
    width: 80%;
    margin: 0 auto; }
  .pancake-image {
    height: 400px; }
  .pancake-text {
    padding: 80px 50px; }
  .pancake-time-container {
    right: initial;
    top: 250px;
    margin-top: 0; }
  .breakfast-price {
    padding: 0 15px; }
  .breakfast-message {
    width: 70%;
    margin: 0 auto;
    padding-top: 90px; }
  .jibarito-sandwich h3 {
    margin-bottom: 60px; }
  .recipe {
    padding: 70px 20px; }
  .navbar-down-container .navbar-down ul li {
    width: 15%; }
  .navbar-down-container .navbar-down ul .brand {
    display: none; }
    .navbar-down-container .navbar-down ul .brand a {
      padding: 0; } }

@media (max-width: 767px) {
  .intro .intro-text h1 {
    font-size: 54px; }
  .breakfast-message .breakfast-menu-text {
    padding: 0 15px; }
    .breakfast-message .breakfast-menu-text h3 {
      font-size: 28px; }
    .breakfast-message .breakfast-menu-text p {
      margin: 20px 0 25px; }
  .navbar-down-container .navbar-down ul li {
    width: 30%; }
  .navbar-down-container .navbar-down ul li:nth-child(3):after {
    content: ''; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .number {
    line-height: 40px;
    font-size: 50px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item.first .number,
  .recipe .recipe-image-container .prepare-time .prepare-time-item.middle .number {
    font-size: 40px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .preparation {
    font-size: 16px; } }

@media (max-width: 599px) {
  .intro .intro-text h1 {
    font-size: 48px; }
  .chef-cook-container h2 {
    font-size: 44px; }
  .tastes-container {
    padding: 0 30px; }
  .images-container .medalon-tastes {
    width: 180px;
    height: 172px;
    margin-top: -86px;
    margin-left: -90px; }
  .images-container .tastes-so-good {
    font-size: 26px;
    margin-top: -37px; }
  .pancake-image,
  .pancake-text {
    width: 90%; }
  .pancake-image {
    height: 300px; }
  .pancake-text h2 {
    font-size: 44px; }
  .pancake-time-container {
    width: 160px;
    height: 160px;
    top: 180px; }
    .pancake-time-container .number {
      font-size: 70px;
      line-height: 60px; }
  .breakfast-price h2 {
    font-size: 44px; }
  .breakfast-price .breakfast-item .breakfast-name {
    font-size: 30px;
    margin-top: 20px; }
  .breakfast-message {
    width: 90%;
    padding-top: 70px; }
  .breakfast-message .breakfast-menu-text p {
    margin: 30px 0 50px; }
  .jibarito-sandwich {
    padding-top: 80px; }
    .jibarito-sandwich h2 {
      font-size: 44px; }
  .ingredient-item h4 {
    font-size: 26px;
    margin: 15px 0; }
  .recipe {
    padding: 20px; }
  .recipe .recipe-image-container .prepare-time {
    width: 130px;
    right: 3px; }
  .recipe .recipe-image-container .full-recipe {
    font-size: 14px;
    padding: 7px 10px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .number {
    line-height: 30px;
    font-size: 40px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item.first .number,
  .recipe .recipe-image-container .prepare-time .prepare-time-item.middle .number {
    font-size: 35px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .preparation {
    padding-top: 10px; } }

@media (max-width: 479px) {
  .container {
    padding: 0; }
  .navbar-default .navbar-brand {
    padding-left: 15px; }
  .navbar-default .navbar-toggle {
    margin-right: 15px; }
  .intro .intro-text h1 {
    font-size: 38px; }
  .intro .intro-text p {
    font-size: 24px;
    width: 70%; }
  .chef-cook-container {
    padding: 0 20px; }
  .chef-cook-container h2 {
    font-size: 34px; }
  .chef-cook-container h3 {
    margin: 10px 0 30px 0; }
  .tastes-container {
    padding: 0; }
  .tasty-pancakes {
    padding: 30px 0; }
  .pancake-image {
    height: 250px; }
  .pancake-text {
    padding: 50px 30px; }
    .pancake-text h2 {
      font-size: 34px; }
    .pancake-text h3 {
      margin: 10px 0 30px 0; }
  .pancake-time-container {
    top: 120px;
    left: 5px; }
  .pancake-text .slider-container .owl-carousel {
    margin: 40px auto 0; }
  .breakfast-price h2 {
    font-size: 34px; }
  .breakfast-price h3 {
    margin: 10px 0 30px 0; }
  .breakfast-price .breakfast-item .breakfast-name {
    font-size: 24px; }
  .breakfast-price .breakfast-item .breakfast-price {
    font-size: 30px; }
  .breakfast-message {
    width: 100%;
    padding-right: 15px; }
    .breakfast-message .breakfast-menu-text {
      padding: 0 5px; }
      .breakfast-message .breakfast-menu-text h3 {
        font-size: 24px; }
      .breakfast-message .breakfast-menu-text p {
        margin: 10px 0 20px 0; }
      .breakfast-message .breakfast-menu-text a {
        font-size: 16px; }
  .jibarito-sandwich h2 {
    font-size: 34px; }
  .jibarito-sandwich h3 {
    margin: 10px 0 30px 0; }
  .ingredient-item h4 {
    font-size: 22px;
    margin: 10px 0; }
  .ingredient-item p {
    margin-bottom: 30px; }
  .recipe {
    padding: 10px 20px 50px; }
  .recipe .recipe-image-container .full-recipe {
    left: -5px; }
  .recipe .recipe-image-container .prepare-time {
    width: 100px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .number {
    line-height: 20px;
    font-size: 35px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item.first .number,
  .recipe .recipe-image-container .prepare-time .prepare-time-item.middle .number {
    font-size: 30px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .preparation {
    padding-top: 7px;
    font-size: 12px; }
  .recipe .recipe-image-container .prepare-time .prepare-time-item .min {
    font-size: 14px; }
  .navbar-down-container {
    padding-bottom: 15px; }
  .navbar-down-container .navbar-down ul li a {
    padding: 10px 0;
    letter-spacing: 0; } }
